html,
body {
  margin: 0;
}

.form {
  background-color: aquamarine;
  width: 300px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.error-message {
  color: brown;
}

.err {
  outline: 2px solid red;
}
